<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="StripePublishableKey" value="pk_test_AQUI" />
  <add key="StripeSecretKey" value="sk_test_AQUI" />
  <add key="GolaPayConnectionString" value="Server=P3NWPLSK12SQL-v02.shr.prod.phx3.secureserver.net,1433;Database=GolaPay;User Id=GolaPayApp;Password=TU_PASSWORD_REAL;Encrypt=True;TrustServerCertificate=True;" />
  <add key="StripeWebhookSecret" value="whsec_..." />
</appSettings>