## Visual Studio / .NET
.vs/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.user
*.DotSettings.user
packages/
!packages/build/
*.nupkg
project.lock.json
artifacts/
*.dbmdl
*.jfm
App_Data/
*.log
.DS_Store

# Secrets (nunca subir)
Web.config.local
appsettings.*.local.json
*.pfx
.env

# Stripe / secrets locales
GolaStripe/Web.secrets.config
**/Web.secrets.config
/GolaStripe/Properties/PublishProfiles
